In [1]:
import pandas as pd
pd.options.display.max_colwidth = 200

'/Users/willmino/Library/ucsd/gitlab/03-Lesson-Plans/08-ETL/2/Activities/08-Evr_Transforming_Cleaning_IoT_Data/Solved'

In [2]:
# Load the data into a DataFrame, use the sep="," as the delimiter and no header.
temp_data_df = pd.read_csv("Resources/temperature_data.csv", sep=",", header=None)
temp_data_df

                                                                                                                                        0
0  {"device":1,"timestamp":"Sat, 10 Jul 2021 14:36:52","temperature":89.2193137146415437,"pressure":1.035,"humidity":20.0136578728022615}
1  {"device":2,"timestamp":"Sat, 10 Jul 2021 14:37:53","temperature":90.9357942474122040,"pressure":1.038,"humidity":20.8861654040337283}
2  {"device":3,"timestamp":"Sat, 10 Jul 2021 14:39:54","temperature":92.0625266471389299,"pressure":1.035,"humidity":19.7559084632667568}
3  {"device":4,"timestamp":"Sat, 10 Jul 2021 14:42:58","temperature":92.2658753650556534,"pressure":1.039,"humidity":19.8540776574222951}
4  {"device":5,"timestamp":"Sat, 10 Jul 2021 14:48:01","temperature":92.8300112871304377,"pressure":1.041,"humidity":19.2329916912511728}

In [3]:
# Take a look at the data. 
temp_data_df[0]

0    {"device":1,"timestamp":"Sat, 10 Jul 2021 14:36:52","temperature":89.2193137146415437,"pressure":1.035,"humidity":20.0136578728022615}
1    {"device":2,"timestamp":"Sat, 10 Jul 2021 14:37:53","temperature":90.9357942474122040,"pressure":1.038,"humidity":20.8861654040337283}
2    {"device":3,"timestamp":"Sat, 10 Jul 2021 14:39:54","temperature":92.0625266471389299,"pressure":1.035,"humidity":19.7559084632667568}
3    {"device":4,"timestamp":"Sat, 10 Jul 2021 14:42:58","temperature":92.2658753650556534,"pressure":1.039,"humidity":19.8540776574222951}
4    {"device":5,"timestamp":"Sat, 10 Jul 2021 14:48:01","temperature":92.8300112871304377,"pressure":1.041,"humidity":19.2329916912511728}
Name: 0, dtype: object

In [4]:
temp_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5 non-null      object
dtypes: object(1)
memory usage: 168.0+ bytes

In [5]:
for i, row in temp_data_df.iterrows():
    print(len(row[0]))

134
134
134
134
134

In [7]:
first_row = temp_data_df.iloc[0][0]

first_row

'{"device":1,"timestamp":"Sat, 10 Jul 2021 14:36:52","temperature":89.2193137146415437,"pressure":1.035,"humidity":20.0136578728022615}'

In [17]:
# Test extracting the key and values from the first using json.loads().
import json
first_row = temp_data_df.iloc[0][0]
# Convert the data to a Python dictionary. 
converted_data = json.loads(first_row)
for k, v in converted_data.items():
    print(k, ":" , v)
    
col=[k for k, v in converted_data.items()]
val=[v for k, v in converted_data.items()]

print(col)
print(val)

device : 1
timestamp : Sat, 10 Jul 2021 14:36:52
temperature : 89.21931371464154
pressure : 1.035
humidity : 20.013657872802263
['device', 'timestamp', 'temperature', 'pressure', 'humidity']
[1, 'Sat, 10 Jul 2021 14:36:52', 89.21931371464154, 1.035, 20.013657872802263]

In [7]:
# 1. Create two list one for the keys and one for the values.
values = []
column_names = []
#  2. Iterate through the DataFrame.
for i, row in temp_data_df.iterrows():
    data = row[0]
    # Convert each row to a Python dictionary.
    converted_data = json.loads(data)
    # Use a list comprehension to get the keys from the converted data.
    columns = [k for k,v in converted_data.items()]
    # Use a list comprehension to get the values for each row.
    row_values = [v for k, v in converted_data.items()]
    # Append the keys and list values to the lists created in step 1.  
    column_names.append(columns)
    values.append(row_values)

# Print out the keys and list of values for each row.
print(column_names[0])
print()
print(values)

['device', 'timestamp', 'temperature', 'pressure', 'humidity']

[[1, 'Sat, 10 Jul 2021 14:36:52', 89.21931371464154, 1.035, 20.013657872802263], [2, 'Sat, 10 Jul 2021 14:37:53', 90.9357942474122, 1.038, 20.88616540403373], [3, 'Sat, 10 Jul 2021 14:39:54', 92.06252664713892, 1.035, 19.755908463266756], [4, 'Sat, 10 Jul 2021 14:42:58', 92.26587536505565, 1.039, 19.854077657422295], [5, 'Sat, 10 Jul 2021 14:48:01', 92.83001128713043, 1.041, 19.232991691251172]]

In [8]:
# Create a DataFrame with the keys and the columns and the nested list of row values as the data. 
new_temp_data_df = pd.DataFrame(values, columns=column_names[0])
new_temp_data_df.head()

   device                  timestamp  temperature  pressure   humidity
0       1  Sat, 10 Jul 2021 14:36:52    89.219314     1.035  20.013658
1       2  Sat, 10 Jul 2021 14:37:53    90.935794     1.038  20.886165
2       3  Sat, 10 Jul 2021 14:39:54    92.062527     1.035  19.755908
3       4  Sat, 10 Jul 2021 14:42:58    92.265875     1.039  19.854078
4       5  Sat, 10 Jul 2021 14:48:01    92.830011     1.041  19.232992

In [9]:
# Extract the day of the week from the timestamp column and add it to a new column.
new_temp_data_df['day'] = new_temp_data_df['timestamp'].str.extract(r'(\D{3})')
new_temp_data_df

   device                  timestamp  temperature  pressure   humidity  day
0       1  Sat, 10 Jul 2021 14:36:52    89.219314     1.035  20.013658  Sat
1       2  Sat, 10 Jul 2021 14:37:53    90.935794     1.038  20.886165  Sat
2       3  Sat, 10 Jul 2021 14:39:54    92.062527     1.035  19.755908  Sat
3       4  Sat, 10 Jul 2021 14:42:58    92.265875     1.039  19.854078  Sat
4       5  Sat, 10 Jul 2021 14:48:01    92.830011     1.041  19.232992  Sat

In [10]:
# Extract the date from the timestamp column and add it a new column.  
new_temp_data_df['date'] = new_temp_data_df['timestamp'].str.extract(r'(\d+\s\D{3}\s\d{4})')
new_temp_data_df

,device,timestamp,temperature,pressure,humidity,day,date
0,1,"Sat, 10 Jul 2021 14:36:52",89.219314,1.035,20.013658,Sat,10 Jul 2021
1,2,"Sat, 10 Jul 2021 14:37:53",90.935794,1.038,20.886165,Sat,10 Jul 2021
2,3,"Sat, 10 Jul 2021 14:39:54",92.062527,1.035,19.755908,Sat,10 Jul 2021
3,4,"Sat, 10 Jul 2021 14:42:58",92.265875,1.039,19.854078,Sat,10 Jul 2021
4,5,"Sat, 10 Jul 2021 14:48:01",92.830011,1.041,19.232992,Sat,10 Jul 2021

In [11]:
# Extract the time of day from the timestamp column and add it to a new column.
new_temp_data_df['time'] = new_temp_data_df['timestamp'].str.extract(r'(\s\d{2}\W\d{2}\W\d{2})')
new_temp_data_df

,device,timestamp,temperature,pressure,humidity,day,date,time
0,1,"Sat, 10 Jul 2021 14:36:52",89.219314,1.035,20.013658,Sat,10 Jul 2021,14:36:52
1,2,"Sat, 10 Jul 2021 14:37:53",90.935794,1.038,20.886165,Sat,10 Jul 2021,14:37:53
2,3,"Sat, 10 Jul 2021 14:39:54",92.062527,1.035,19.755908,Sat,10 Jul 2021,14:39:54
3,4,"Sat, 10 Jul 2021 14:42:58",92.265875,1.039,19.854078,Sat,10 Jul 2021,14:42:58
4,5,"Sat, 10 Jul 2021 14:48:01",92.830011,1.041,19.232992,Sat,10 Jul 2021,14:48:01

In [12]:
new_temp_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   device       5 non-null      int64
 1   timestamp    5 non-null      object
 2   temperature  5 non-null      float64
 3   pressure     5 non-null      float64
 4   humidity     5 non-null      float64
 5   day          5 non-null      object
 6   date         5 non-null      object
 7   time         5 non-null      object
dtypes: float64(3), int64(1), object(4)
memory usage: 448.0+ bytes

In [13]:
# Convert the date to a datetime format. 
from datetime import datetime as dt
# 1. Convert the date to %Y-%m-%d.
new_temp_data_df["date"] = pd.to_datetime(new_temp_data_df["date"]).dt.strftime('%Y-%m-%d') 
# 2. Convert the date to a datetime64[ns] format.
new_temp_data_df["date"] = pd.to_datetime(new_temp_data_df["date"])
new_temp_data_df

,device,timestamp,temperature,pressure,humidity,day,date,time
0,1,"Sat, 10 Jul 2021 14:36:52",89.219314,1.035,20.013658,Sat,2021-07-10,14:36:52
1,2,"Sat, 10 Jul 2021 14:37:53",90.935794,1.038,20.886165,Sat,2021-07-10,14:37:53
2,3,"Sat, 10 Jul 2021 14:39:54",92.062527,1.035,19.755908,Sat,2021-07-10,14:39:54
3,4,"Sat, 10 Jul 2021 14:42:58",92.265875,1.039,19.854078,Sat,2021-07-10,14:42:58
4,5,"Sat, 10 Jul 2021 14:48:01",92.830011,1.041,19.232992,Sat,2021-07-10,14:48:01

In [14]:
new_temp_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   device       5 non-null      int64
 1   timestamp    5 non-null      object
 2   temperature  5 non-null      float64
 3   pressure     5 non-null      float64
 4   humidity     5 non-null      float64
 5   day          5 non-null      object
 6   date         5 non-null      datetime64[ns]
 7   time         5 non-null      object
dtypes: datetime64[ns](1), float64(3), int64(1), object(3)
memory usage: 448.0+ bytes

In [15]:
# Drop the timestamp column.
temp_data_df_clean = new_temp_data_df.drop(["timestamp"], axis=1)
# Reorder the columns.
temp_data_df_clean = temp_data_df_clean[['device','day', 'date', 'time', 'temperature', 'pressure', 'humidity']]
temp_data_df_clean

   device  day       date       time  temperature  pressure   humidity
0       1  Sat 2021-07-10   14:36:52    89.219314     1.035  20.013658
1       2  Sat 2021-07-10   14:37:53    90.935794     1.038  20.886165
2       3  Sat 2021-07-10   14:39:54    92.062527     1.035  19.755908
3       4  Sat 2021-07-10   14:42:58    92.265875     1.039  19.854078
4       5  Sat 2021-07-10   14:48:01    92.830011     1.041  19.232992